<!-- TODO this file has become a mess, refactor it -->

<div style="clear: both;">
  <div style="float: left; margin-right 1em;">
    <img src="{{ include.image_path }}" alt="" width="300" height="400">
  </div>
  <div style="float: right; margin-left 1em;">
    <h3>{{ include.name }}</h3>
    {{ include.title | markdownify }}
    <h3>Contact Information:</h3>
    {{ include.contact | markdownify }}
    <h3>Email:</h3>
    {{ include.email | markdownify }}
  </div>
</div>

<div class="clearfix"></div>